header::before {
  content: '';
  position: absolute;
  background-color: $blueBg;
  width: 50%;
  height: 58%;
  z-index: -1;
  top: 0;
  left: 50%;
  border-radius: 0 0 0 3.925rem;
}

header {
  margin-bottom: 8.6625rem;
}

.nav {
  width: 100vw;
  margin-bottom: 9.5rem;
  
  ul {
    list-style: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5.5rem;
    padding: 0;
  }

  ul li:hover {
    text-decoration: underline;
    cursor: grab;
  }
  
  li:first-child {
    margin-right: auto;
    margin-left: 8.9rem;
    margin-top: 1.8rem;
    padding: 2rem 2rem 0 0;
  }
  
  li:nth-child(5) {
    color: $loginFont;
  }
  
  li:nth-child(6) {
    margin: 2.9rem 2rem 0 0;
  }
}

.toggle {
  display: none;
}

.nav-desktop {
  padding: 4rem 2rem 0 0;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadeIn .4s;
  z-index: 999;
}

.nav-sub-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0 0 -219px 0;
  padding: 0;
  height: 4em;
  line-height: 2.6;
  box-shadow: 1px 12px 37px 0px rgba(0,0,0,1);
  border-radius: 7px;;
  width: 313px;
  height: 229px;
  position: relative;
}

.nav-sub-nav-a-links {
  text-decoration: none;
  color: #000000;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  animation: fadeIn .6s;
}

.wrapper {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
}

.hero {
  width: 100%;
  margin-top: -0.875rem;
  right: 0;
  position: absolute;
  z-index: -1;
}

.main-content {
  margin-left: 8.8rem;
  z-index: 0;
}

.monograph {
  font-size: 1rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  color: #aaaaaa;
  word-spacing: 0.725rem;
  letter-spacing: 0.3rem;
  margin-bottom: -2.778rem;
}
  
.button-psuedo {
  font-size: 0.875rem;
  letter-spacing: 0.07rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  border-radius: 34%;
  padding: 0.1875rem 0.5625rem 0.3125rem 0.5625rem;
}

h2 {
  font-size: 4rem;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 2.17rem;
}

h3 {
  font-size: 1.2rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: #8c8c8c;
  line-height: 1.65rem;
  margin-bottom: 3.125rem;
}

.button {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.0125rem;
  font-weight: 400;
  color: #aaaaaa;
  word-spacing: 0.347rem;
  letter-spacing: 0.2rem;
}

button {
  border: none;
  border-radius: 0.3125rem;
  background-color: $buttonBg;
  padding: 0.8406rem 2.1562rem;
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.0125rem;
  font-weight: 700;
}

@media screen and (min-width: 688px){
  .nav-mobile {
    display: none;
  }
}

//Mobile view
@media screen and (max-width: 689px){
  header::before {
    height: 48%;
  }

  .nav-desktop {
    display: none;
  }

  header {
    margin-bottom: 4.1rem;
  }

  .nav {
    margin-bottom: 0;
  }

  .nav li:first-child {
    margin-left: 1.9rem;
    margin-top: 0.1rem;
  }

  .nav li:nth-child(6) {
    margin: 1.4rem 1.1rem 0 0;
  }

  .nav ul {
    margin-right: 0.9rem;
  }

  .main-content {
    margin-left: 2rem;
  }

  .monograph {
    margin-bottom: -0.878rem;
    word-spacing: 0.5rem;
  }

  h2 {
    font-size: 2.55rem;
    margin-bottom: 0;
  }

  h3 {
    font-size: 1.12rem;
    margin-bottom: 1.7rem;
  }

  .button {
    font-size: 0.8rem;
    word-spacing: 0.02rem;
  }

  button {
    font-size: 0.9rem;
    padding: 0.8406rem 1.7rem;
    margin-right: 0.8rem;
    letter-spacing: 0.08rem;
  }
}

@media screen and (min-width: 767px){
  .wrapper {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper .hero {
    order: 1;
  }
  
  .main-content {
    width: 50%;
  }
  
  .hero {
    width: 50%;
  }
  
  .hero {
    right: 0;
    position: absolute;
  }
}

@media screen and (max-width: 768px){
  
}
//Desktop Styles
@media screen and (min-width: 1151px){
  .wrapper {
    justify-content: space-between;
  }
  
  .main-content {
    width: 50%;
  }
  
  .hero {
    width: 50%;
    margin-top: -0.875rem;
  }
}

@media screen and (max-width: 1150px){
  .hero {
    position: relative;
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }to {
    opacity: 1;
  }
}

