.nav {
  margin: 1.6em 0 2.69em -2.1em;
  
  ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 3em;
  }
  
  ul li {
    padding: 2em;
  }
  
  li:first-child {
    margin-right: auto;
    margin-left: 2em;
  }
}

.nav-menu {
  margin-bottom: 2px;
}

.toggle {
  display: none;
}

.nav-mobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-sub-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  margin: 0 0 -219px 0;
  padding: 0;
  height: 4em;
  line-height: 2.6;
  box-shadow: 1px 12px 37px 0px rgba(0,0,0,1);
  width: 313px;
  height: 229px;
  position: relative;
  z-index: 1;
}

.nav-sub-nav-a-links {
  text-decoration: none;
  color: #000000;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
}
  
.wrapper {
  margin: 1.86em 1.86em 1.86em 0.6em; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

// This is for mobile view
.main-content:first-child{
  order: 1;
}

.main-content {
  margin-left: 1.2em;
}

.hero {

  &-img {
    height: 13.8em;
    margin-bottom: 4em;
  }
}

.monograph {
  font-size: 1em;
  word-spacing: 10px;
  margin-bottom:  0.9em;
}
  
.button-psuedo {
  font-size: 14px;
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  border-radius: 38%;
  padding: 3px 9px 5px 9px;
}

h2 {
  font-size: 2.3em;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.22em;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 1.4em;
}

button {
  border: none;
  border-radius: 5px;
  background-color: $buttonBg;
  padding: 0.83em 2.13em;
  color: #ffffff;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .9em;
  font-weight: 700;
}

.button {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: .9em;
  font-weight: 400;
  word-spacing: 0.56em;
}

@media screen and (min-width: 1136px){
  .main-content:first-child{
    order: 0;
  }
}

