/*Colors*/

$buttonBg: hsl(0, 100%, 68%);
$blueBg: hsl(207, 33%, 95%);
$loginFont: hsl(224, 7%, 56%);
$navDot: #b8b8b8;

// Very Dark Blue: hsl(230, 29%, 20%)
// Dark Grayish Blue: hsl(230, 11%, 40%)
// Grayish Blue: hsl(231, 7%, 65%)


